<div class="container">
  <div *ngIf="!profiles || profiles.length == 0" class="jumbotron">
    <h2>No user profiles available.</h2>
    <a routerLink="/profile" class="btn btn-success"><span class="fa fa-edit"></span> Edit Your Profile</a>
  </div>

  <div class="card profile" *ngFor="let profile of profiles">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="card-title">{{ profile.username }}</h3>
          <h6 class="card-subtitle text-muted">{{ profile.first_name }} {{ profile.last_name }}</h6>
        </div>

        <div class="col-sm-4">
          <span class="float-right">
            <button [routerLink]="['/profile', profile._id]" class="btn btn-primary">Edit</button>
            <button (click)="deleteUser(profile)" class="btn btn-danger">Delete</button>
          </span>

        </div>
      </div>
    </div>
  </div>
</div>
